<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<%= render 'shared/errors', object: @post %>
<%= form_for(@post) do |p| %>
	<table>	
		<tr>
			<td> <%= p.label :title %> </td>
			<td> <%= p.text_field :title %> </td>
		</tr>
		<tr>
			<td> <%= p.label :description %> </td>
			<td> <%= p.text_area :description %> </td>
			<%= p.hidden_field :user_id, :value => current_user.id %>			
		</tr>
		<tr>
			<td> <br> </td>
			<td> <%= p.submit "Submit" %> </td>
		</tr>	
	</table>
<% end %>
<hr>
<%= link_to "Posts Home", posts_path %> | 
<%= link_to "Home", root_path %>